@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500");

html,
body {
  margin: 0;
  padding: 0;
}

ul.filters {
  display: block;
  width: 100%;
  margin: 0;
  padding: 30px 0;
}

ul.filters > li {
  list-style: none;
  display: inline-block;
}

ul.filters > li > a {
  display: block;
  color: #a3a3a3;
  text-decoration: none;
  padding: 5px 20px;
}

ul.filters > li > a:hover {
  background-color: #e6e9ed;
}

ul.filters > li.active > a {
  color: #000000;
  /* background-color: #a3a3a3; */
}

.filters.filters-tag {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  line-height: 1;
  text-align: center;
}

ul.filters.filters-tag > li > a {
  display: block;
  color: #a3a3a3;
  border-radius: 0.25rem;
  padding: 0.3rem 0.6rem;
}

ul.filters.filters-tag > li.active > a {
  /* color: #fff;  */
  /* Control text color with color attribute. Control background color with background color*/
  background-color: rgb(163, 163, 163, 0.6);
}

.filters-tag {
  font-size: 0.9rem;
}

.project {
  position: relative;
  margin-bottom: 50px;
  color: #000;
  border-radius: 0;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.075);
}

.project-head {
  position: relative;
  overflow: hidden;
}


.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(67, 78, 94, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}

.project-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65); /* Darkened background color */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  opacity: 0; /* Initially hidden */
  transition: opacity ease-in-out 0.2s;
}

.gallery-item:hover .project-hover {
  opacity: 1; /* Display on hover */
}

.project-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

h4.title {
  color: #434e5e;
  font-size: 1.2rem;
  margin-bottom: 0;
}