@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"),url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: 400;
  font-style: normal
}

.gallery-row {
  display: flex;
  flex-basis: calc(33.33% - 10px);
  flex-grow: 1
}
.gallery-item {
  width: 100%;
  position: relative;
  margin-right: 10px
}
.gallery-row .gallery-item:last-child {
  margin-right: 0
}
.portfolio-item {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden
}
.portfolio-item img {
  width: 100%;
  height: auto;
  display: block
}
/* .two-column-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px
}
.left-column {
  width: 50%;
  padding: 20px
}
.right-column {
  width: 50%;
  margin: 10px 20 10px auto;
  padding: 20px
}
@media (max-width:768px) {
  .two-column-layout {
    flex-direction: column
  }
  .left-column,
  .right-column {
    width: 100%
  }
} */





